//@theme "/home/roerohan/.local/share/rofi/themes/windows11-grid-dark.rasi"
//@theme "/usr/share/rofi/themes/sidebar.rasi"
//@theme "/usr/share/rofi/themes/gruvbox-dark.rasi"
//@theme "/home/roerohan/.local/share/rofi/themes/squared-nord.rasi"
//@theme "/home/roerohan/.local/share/rofi/themes/spotlight-dark.rasi"
@theme "/home/roerohan/.local/share/rofi/themes/rounded-nord-dark.rasi"
